* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff5d7
}

body > h1:first-of-type {
    margin: 2rem;
    color: #212427;
}

.container {
    border: 1px solid black;
    /* width: 960px; */
    display: grid;
} 

.container > div {
    border: 1px solid black;
    height: 30px;
    width: 30px;
}

/* .container > div:nth-child(16n + 1) {
    width: 100%;
    border: 0;
    height: 0;
} */